extends layout

block append head
  script(src='/scripts/playlist.js')

block list
  - const cdName = cd === undefined ? '' : ` - ${cd}`;
  h2 #{album} #{cdName}
  h4 by #{artist}

  - const first_song = `${songs[0]}`
  h3 Now Playing - #{first_song}
  audio#audio(controls='' preload='auto' controlsList='nodownload')
    source(src=`${first_song}`)

  ul#playlist
    li.songlist.active
      a(href=`${first_song}`) #{first_song}
    - const rest_songs = songs.slice(1);
    each song in rest_songs
      li.songlist
        a(href=`${song}`) #{song}
