extends layout

block append head
  script(src='/scripts/playlist.js')

block list
  h2 #{mbalbum}
  h4 by #{mbartist}

  -
    const firstSong = songs[0].songs[0]
    const firstSongName = songNames[0][0]
    const cd = songs[0].cd
    const firstPath = cd === null ? `music/${artist}/${album}` : `music/${artist}/${album}/${cd}`

  h3 Now Playing - #{firstSongName}
  audio#audio(controls='' preload='auto' controlsList='nodownload')
    source(src=`/${firstPath}/${firstSong}`)

  ul#playlist
    li.songlist.active
      a(href=`/${firstPath}/${firstSong}`) #{firstSongName}
    -
      songs[0].songs = songs[0].songs.splice(1)
      songNames[0] = songNames[0].splice(1)

    each arr, index1 in songs
      - const innerPath = arr.cd === null ? `music/${artist}/${album}` : `music/${artist}/${album}/${arr.cd}`
      each song, index2 in arr.songs
        li.songlist
          a(href=`/${innerPath}/${song}`) #{songNames[index1][index2]}

  - const imageSrc = contentType === undefined ? image : `data:${contentType};base64,${image}`
  div #{date}
    img(src=`${imageSrc}`)
